.header__menu {
    margin-left: -150%;
    transition: all ease-in-out .5s;
    position: fixed;
    backdrop-filter: 5px;
  
  }
  
  
.displayed {
    margin-left: 0;
    transition: all ease-in-out .5s;
    margin-right: 0;
}

.header__order {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-left: 20%;
    background-color: #F6C8BB;
    margin-top: -100%;
    margin-left: 30%;
    width: 50%;
    transition: margin-top ease-in-out .5s;
  }
  
  .header__order.displayed {
    margin-left: 30%;
    margin-top: -5%;
    top: 0;
    right: 0;
    transition: margin-top ease-in-out .5s;
  }