

//Polices
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');

//Variables
$clear : #FEF6EB;
$blue : rgba(168, 183, 214, 0.5);
$roseClear : #F6C8BB;
$rose : rgba(224, 106, 124, 0.5);
$red : #BF5555;
$font : "font-family: 'Montserrat Alternates', sans-serif";

//Mixins
@mixin fonts ($size, $weigth) {
    font-family:'Montserrat Alternates', sans-serif;
    font-size: $size;
    font-weight: $weigth;
}


//Mise en page
body {
    background-color: $clear;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    &__fixe {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: space-between;
        gap: 15vw;
        width: 100%;
        top: 0;
        left: 0;
        &__burger {
            img {
            display: none;
            }
        }
        &__logo {
            img{
            width: 15vw;
            margin-right: 5vw;
            }
        }
        &__panier {
            img {
                width: 3vw;
                margin-right: 5vw;
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $roseClear;
        width:10%;
        margin-top: -7%;
        //transform: translateX(-100%);
        //overflow: hidden;
        //max-height: 0;
        &__h1{
            @include fonts(3vw, 400);
            background-color: $blue;
            border-radius: 50%;
            padding: 7% 7% 7% 7%;
            margin: 30% 0% 20% 0%;
        }
    }
    &__nav {
        &__card {
            width: 100%;
            margin: 0% 20% 15% -10%;
            padding: 7% 10% 7% 10%;
            text-align: center;
            border-radius: 1vw;
            &--bleu {
                background-color: $blue;
            }
            &--rose {
                background-color: $rose;
            }
            &--img {
                width: 3vw;
                height: auto;
            }
            p {
                font-family: $font;
                margin-top: 3%;
                margin-bottom: 2%;
                @include fonts(1.10vw, 400);
                color: $red;
                width: 100%;
            }
        }
    }
    &__colormode {
        @extend .header__menu;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0%;
        padding-top: 8%;
        padding-bottom: 1.5%;
        &--style {
            width: 2vw;
            height: auto;
        }
    }
    &__order {
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        background-color: $roseClear;
        width:20%;
        transform: translate(78.7vw, -45vw);
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        
        &__cart {
            background-color: $clear;
            width:20%;
            color: $red;
           &__total {
            }
            &--title {
                @include fonts(2vw, 400);
                color: $red;
                margin-left:1vw;
            }
            &--price {
                @include fonts(2vw, 400);
                color: $red;
            }
        }
    }


}
.main {
    &__welcome{
        padding-left: 15%;
        text-align: left;
        @include fonts(2vw, 700);
        transform: translateY(-50vw);
    }
    &__choose {
        padding-left: 15%;
        text-align: left;
        @include fonts(1.5vw, 700);
        transform: translateY(-50vw);
    }
    &__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.article {
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 15vw;
    height: 32vh;
    margin: 3% 5% 2% 5%;
    background-color: $roseClear;
    &__img {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-end;
        height: 8vh;
        &__bg {
            width: auto;
            height: 100%;
        }
    }
    &__addButton {
        width: auto;
        height: 7%;
        position: relative;
        right: 12vw;
        bottom: 1vw;
    }
    &__name {
        @include fonts(1.5vw, 700);
        padding-right: 4%;
        text-align: center;
        width: 13vw;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: $red;
        width: 12vw;
        height: 16vh;
        border-radius: 2vw;
        padding-right: 5%;
        &__mainCat {
            display: none;
        }
        &__subCat {
            @include fonts(1.3vw, 400);
            margin-top: 0;
        }
        &__description {
            text-align: end;
            margin-top: -9%;
            @include fonts(1vw, 300);
        }
        &__price {
            margin-top: -7%;
            margin-bottom: -6%;
            background-color: $blue;
            padding: 2%;
            border-radius: 2vw;
            @include fonts(1vw, 300);
        }
    }
}

.pizzaMan {
    width: 35%;
    transform: translate(35vw,-300vw);
    opacity: 0.6;
}

.footer{ 
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: $blue;
    white-space:nowrap;


    &__h4{
        @include fonts(1.5vw, 400);
        width: 100%;
        text-align: center;
        
        
    }
    &__ul{
        @include fonts(1.5vw, 400);
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }

}
