@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap");
body {
  background-color: #FEF6EB;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header__fixe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  gap: 15vw;
  width: 100%;
  top: 0;
  left: 0;
}
.header__fixe__burger img {
  display: none;
}
.header__fixe__logo img {
  width: 15vw;
  margin-right: 5vw;
}
.header__fixe__panier img {
  width: 3vw;
  margin-right: 5vw;
}
.header__all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6C8BB;
  width: 10%;
  height: 100%;
  margin-top: -7%;
  z-index: 1;
  position: fixed;
}
.header__menu__h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3vw;
  font-weight: 400;
  background-color: rgba(168, 183, 214, 0.5);
  border-radius: 50%;
  padding: 7% 7% 7% 7%;
  margin: -20% 0% 60% 0%;
}
.header__nav__card {
  width: 100%;
  margin: 10% 20% 30% -10%;
  padding: 7% 10% 7% 10%;
  text-align: center;
  border-radius: 1vw;
}
.header__nav__card--bleu {
  background-color: rgba(168, 183, 214, 0.5);
}
.header__nav__card--rose {
  background-color: rgba(224, 106, 124, 0.5);
}
.header__nav__card--img {
  width: 3vw;
  height: auto;
}
.header__nav__card p {
  font-family: "font-family: 'Montserrat Alternates', sans-serif";
  margin-top: 3%;
  margin-bottom: 2%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #BF5555;
  width: 100%;
}
.header__colormode {
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
}
.header__colormode--style {
  width: 2.5vw;
  height: auto;
  margin-top: 30%;
}
.header__order {
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  background-color: #F6C8BB;
  width: 20%;
  position: absolute;
  left: 80%;
  bottom: 80%;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
.header__order__cart {
  background-color: #FEF6EB;
  width: 20%;
  color: #BF5555;
}
.header__order__cart--title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #BF5555;
  margin-left: 1vw;
}
.header__order__cart--price {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #BF5555;
}

.main__welcome {
  padding-left: 15%;
  text-align: left;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2vw;
  font-weight: 700;
}
.main__choose {
  padding-left: 15%;
  text-align: left;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
}
.main__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 6%;
}

.article {
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 18vw;
  height: 35vh;
  margin: 3% 1% 2% 2%;
  background-color: #F6C8BB;
}
.article__img {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
  height: 25%;
  margin-right: 10%;
  margin-top: 1%;
}
.article__img__bg {
  width: auto;
  height: 100%;
}
.article__addButton {
  width: auto;
  height: 15%;
  position: relative;
  right: 13vw;
  bottom: 1vw;
}
.article__name {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  padding-right: 4%;
  text-align: center;
  width: 18vw;
}
.article__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #BF5555;
  width: 15vw;
  height: 30vh;
  border-radius: 2vw;
  padding-right: 5%;
}
.article__container__mainCat {
  display: none;
}
.article__container__subCat {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  margin-top: 1%;
}
.article__container__description {
  text-align: end;
  margin-top: -7%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1vw;
  font-weight: 300;
}
.article__container__price {
  margin-top: -6%;
  margin-bottom: -6%;
  background-color: rgba(168, 183, 214, 0.5);
  padding: 2%;
  border-radius: 2vw;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
}

.pizzaMan {
  width: 45%;
  position: absolute;
  left: 28%;
  bottom: 54%;
  opacity: 0.6;
  z-index: -1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(168, 183, 214, 0.5);
}
.footer__h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
.footer__ul {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  list-style-type: none;
}
.footer__ul a {
  color: black;
}/*# sourceMappingURL=desktop.css.map */